# Python files
*.py[cod]
__pycache__/

# AMICI builds
SPARCED/models/*/amici_*/
# Simulation results except the README in default folder and some results for
# default control simulations
SPARCED/results/*
!SPARCED/results/New-Simulation
!SPARCED/results/Control
SPARCED/results/New-Simulation/*
!SPARCED/results/New-Simulation/README.md
SPARCED/models/SPARCED_standard/results
SPARCED/models/SPARCED_standard/data/simulation/legacy_OmicsData.txt
benchmarks/test_benchmark

old*
*.ipynb_check*
.nextflow*
vers
pod.yaml
dock.sh
z
*_pycache_*
SPARCED/*xlsx
cleanH
work/
ToDo*
